@tailwind base;
@tailwind components;
@tailwind utilities; 

.Main
{
  background-image: url(bg@2x.png);
  height: 937px;
  padding-bottom: 0%;
  width: 100%;
  margin-bottom: 0%;
  vertical-align: baseline;
}
.navbar
{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
}

.left
{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
.left img
{
  width: 260px;
  height: 100px;
  margin-left: 10px;
}

.mid img
{
  width: 350px;
  height: 100px;
  margin-right: 100%;
  margin-left: -80%;
}

.rightb
{
  height: 100px;
  justify-content: flex-end;

}
.rightb button
{
  margin-top: 10px;
  margin-right: 10px;
  background-color: #1B3652;
  align-items: right;
  width: 180px;
  text-align: center;
  height: 30px;
  padding: 5px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  justify-content: flex-end;
  border-radius: 10px;
}

.rightb .img
{
  margin-top: 10px;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: space-around;
}
.rightb .img img
{
  margin-left: -0.5px;
}
.rightb .img .img1
{
  margin-top: 5px;
  margin-left: 8px;
  width: 30px;
  height: 30px;
}

.rightb .img .img2
{
  margin-top: 5px;
  margin-left: 12px;
  width: 30px;
  height: 30px;
}